<ion-header>
  <ion-toolbar class="header">
    <ion-title>Modifier le Produit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <form #f="ngForm" [formGroup]="updateForm"  (ngSubmit)="updateProduct(f.value)">
    <ion-item>
      <ion-input  formControlName="name" type="text" ngModel placeholder="Nom du Produit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="reference" type="text" ngModel placeholder="La Reference"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Quantité : </ion-label>
      <ion-input formControlName="qte" type="number" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="description" type="text" ngModel placeholder="Description du Produit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="pu" type="number" ngModel placeholder="Prix Du Produit"></ion-input>
    </ion-item>
      <ion-button expand="full" type="submit"> Mettre à Jour</ion-button>
  </form>
</ion-content>
